<div class="well">
    <a routerLink="/lugares">Lugares</a> / Contacto
</div>

<div class="container">

    <div class="row">
        <div class="col-md-7">
            <label >Nombre</label>
            <input type="text" class="form-control" />
            <br />

            <label >Correo</label>
            <input type="email" class="form-control" />
            <br />

            <label >Mensaje</label>
            <textarea  class="form-control" > </textarea>
            <hr />


            <a class="btn btn-primary"> Enviar</a>
            <a class="btn btn-default" routerLink="/lugares"> Cancelar</a>
        </div>
        <div class="col-md-5">
            <div class="">

                <div class="well ">
                    <h3> {{nombre}}</h3>
                    <p> {{description}}</p>
                </div>
                <div class="row">
                    <i class="glyphicon glyphicon-star col-md-1"></i>
                    <p class="col-md-11">Lorem ipsum dolor sit amet, consectetur .</p>
                </div>
                <div class="row">
                    <i class="glyphicon glyphicon-star col-md-1"></i>
                    <p class="col-md-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. .</p>
                </div>
                <div class="row">
                    <i class="glyphicon glyphicon-star col-md-1"></i>
                    <p class="col-md-11">Lorem ipsum dolor sit amet, consectetur adipisici.</p>
                </div>
                <div class="row">
                    <i class="glyphicon glyphicon-star col-md-1"></i>
                    <p class="col-md-11">Lorem ipsum dolor sit amet, consectetur adue.</p>
                </div>


            </div>
        </div>

    </div>

</div>